.solution {
    padding: 8rem 0;
}
.card-content {
    @include media-breakpoint-down(xl) {
        min-height: 27rem;
        max-height: 27rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .bs-card:nth-child(even) .bs-card-rounded {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            border-bottom-right-radius: var(--bs-border-radius);
            border-top-right-radius: var(--bs-border-radius);
        }
    }
}
@include media-breakpoint-up(xl) {
    .bs-card:nth-child(even) .bs-card-rounded {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: var(--bs-border-radius);
        border-top-right-radius: var(--bs-border-radius);
    }
}
