// ======== Card Virtual Class ============
%card {
    --#{$var-prefix}card-padding-x: #{$card-padding-x};
    --#{$var-prefix}card-padding-y: #{$card-padding-y};

    --#{$var-prefix}card-margin-x: #{$card-margin-x};
    --#{$var-prefix}card-margin-y: #{$card-margin-y};

    --#{$var-prefix}card-font-size: #{$card-font-size};
    --#{$var-prefix}card-line-height: #{$card-line-height};
    --#{$var-prefix}card-font-weight: #{$card-font-weight};
    --#{$var-prefix}card-color: #{$card-color};
    --#{$var-prefix}card-bg: #{$card-bg};

    --#{$var-prefix}card-flex: #{$card-flex-column};

    --#{$var-prefix}card-align: #{$card-align-normal};
    --#{$var-prefix}card-justify: #{$card-justify-normal};

    --#{$var-prefix}card-border-width: #{$card-border-width};
    --#{$var-prefix}card-border-color: transparent;
    --#{$var-prefix}card-border-radius: #{$card-border-radius};
    --#{$var-prefix}card-box-shadow: #{$card-box-shadow-property} rgba(var(--#{$var-prefix}gray-rgb), #{$card-box-shadow-opacity});

    position: relative;
    display: flex;
    justify-content: var(--#{$var-prefix}card-justify);
    align-items: var(--#{$var-prefix}card-align);

    flex-direction: var(--#{$var-prefix}card-flex);
    padding: var(--#{$var-prefix}card-padding-y)
        var(--#{$var-prefix}card-padding-x);
    margin: var(--#{$var-prefix}card-margin-y)
        var(--#{$var-prefix}card-margin-x);
    font-family: var(--#{$var-prefix}body-font-family);
    line-height: var(--#{$var-prefix}card-line-height);
    font-weight: var(--#{$var-prefix}card-font-weight);
    color: var(--#{$var-prefix}card-color);
    user-select: none;
    background-color: var(--#{$var-prefix}card-bg);
    border: var(--#{$var-prefix}card-border-width) solid
        var(--#{$var-prefix}card-border-color);
    @include border-radius(var(--#{$var-prefix}card-border-radius));
    @include media-breakpoint-up(md) {
        --#{$var-prefix}card-margin-y: #{$card-margin-y-sm};
    }
}

%card-xs {
    @include card-size(
        $card-padding-y-xs,
        $card-padding-x-xs,
        $card-font-size-xs,
        $card-line-height-xs,
        $card-font-weight,
        $card-border-radius
    );
}

%card-sm {
    @include card-size(
        $card-padding-y-sm,
        $card-padding-x-sm,
        $card-font-size-sm,
        $card-line-height-sm,
        $card-font-weight,
        $card-border-radius
    );
}

%card-lg {
    @include card-size(
        $card-padding-y-lg,
        $card-padding-x-lg,
        $card-font-size-lg,
        $card-line-height-lg,
        $card-font-weight,
        $card-border-radius
    );
}

%card-xl {
    @include card-size(
        $card-padding-y-xl,
        $card-padding-x-xl,
        $card-font-size-xl,
        $card-line-height-xl,
        $card-font-weight,
        $card-border-radius
    );
}

%card-xxl {
    @include card-size(
        $card-padding-y-xxl,
        $card-padding-x-xxl,
        $card-font-size-xxl,
        $card-line-height-xxl,
        $card-font-weight,
        $card-border-radius
    );
}

%card-horizontal {
    @include card-horizontal($card-flex-row, $card-align-center);
}
%card-reverse {
    @include card-reverse($card-flex-row-reverse);
}

%card-body {
    @include card-body-size($card-padding-y-xxl, $card-padding-x-xxl);
    padding: var(--#{$var-prefix}card-padding-y)
        var(--#{$var-prefix}card-padding-x);
}
%card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--#{$var-prefix}card-bg);
    padding: #{$card-padding-y-xs} #{$card-padding-x-xs};
    border-radius: var(--#{$var-prefix}card-border-radius);
}
//===== Card Class ===================================
.#{$class-prefix}card {
    @extend %card;
}
.#{$class-prefix}card-horizontal {
    @extend %card-horizontal;
}
.#{$class-prefix}card-reverse {
    @extend %card-reverse;
}
.#{$class-prefix}card-body {
    @extend %card-body;
}
.#{$class-prefix}card-img {
    @extend %card-img;
}

//===== Card size ===================================
.#{$class-prefix}card-xs {
    @extend %card-xs;
}

.#{$class-prefix}card-sm {
    @extend %card-sm;
}

.#{$class-prefix}card-lg {
    @extend %card-lg;
}

.#{$class-prefix}card-xl {
    @extend %card-xl;
}

.#{$class-prefix}card-xxl {
    @extend %card-xxl;
}

//----- Card color -----------------------------------

@each $color, $value in $theme-colors {
    %card-#{$color},
    .#{$class-prefix}card-#{$color} {
        @include card-variant($color);
        @if $color == "gray" {
            --#{$var-prefix}card-bg: var(--#{$var-prefix}gray-300);
        }
    }

    %card-outline-#{$color},
    .#{$class-prefix}card-outline-#{$color} {
        @include card-outline-variant($color);
        @if $color == "gray" {
            --#{$var-prefix}card-border-color: var(--#{$var-prefix}gray-200);
        }
    }

    %card-ghost-#{$color},
    .#{$class-prefix}card-ghost-#{$color} {
        @include card-ghost-variant($color);
    }

    %card-light-#{$color},
    .#{$class-prefix}card-light-#{$color} {
        @include card-light-variant($color);
    }
    %card-img-light-#{$color},
    .#{$class-prefix}card-img-light-#{$color} {
        @include card-img-light-variant($color);
    }
}
