// ======== Card Virtual Class ============
%card {
    --#{$var-prefix}card-padding-x: #{$card-padding-x};
    --#{$var-prefix}card-padding-y: #{$card-padding-y};
    --#{$var-prefix}card-margin-bottom: #{$card-margin-bottom};
    --#{$var-prefix}card-font-size: #{$card-font-size};
    --#{$var-prefix}card-line-height: #{$card-line-height};
    --#{$var-prefix}card-font-weight: #{$card-font-weight};
    --#{$var-prefix}card-color: #{$card-color};
    --#{$var-prefix}card-bg: transparent;
    --#{$var-prefix}card-border-width: #{$card-border-width};
    --#{$var-prefix}card-border-color: transparent;
    --#{$var-prefix}card-border-radius: #{$card-border-radius};
    --#{$var-prefix}card-box-shadow: #{$card-box-shadow-property} rgba(var(--#{$var-prefix}gray-rgb), #{$card-box-shadow-opacity});

    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--#{$var-prefix}card-padding-y)
        var(--#{$var-prefix}card-padding-x);
    font-family: var(--#{$var-prefix}body-font-family);
    line-height: var(--#{$var-prefix}card-line-height);
    font-weight: var(--#{$var-prefix}card-font-weight);
    overflow: hidden;
    color: var(--#{$var-prefix}card-color);
    user-select: none;
    background-color: var(--#{$var-prefix}card-bg);
    border: var(--#{$var-prefix}card-border-width) solid
        var(--#{$var-prefix}card-border-color);
    @include border-radius(var(--#{$var-prefix}card-border-radius));
    @include media-breakpoint-down(md) {
        & {
            margin-bottom: var(--#{$var-prefix}card-margin-bottom);
        }
    }
    @include media-breakpoint-up(md) {
        & {
            margin-bottom: var(--#{$var-prefix}card-margin-bottom);
        }
    }
}
%card-horizontal {
    @include media-breakpoint-up(md) {
        & {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}
%card-row-reverse {
    @include media-breakpoint-up(md) {
        & {
            flex-direction: row-reverse;
        }
    }
}
%card-img {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: var(--#{$var-prefix}card-padding-y)
        var(--#{$var-prefix}card-padding-x);
    @include border-radius(var(--#{$var-prefix}card-border-radius));
    background-color: var(--#{$var-prefix}card-bg);
}

%card-body {
    display: inline-block;
    padding: var(--#{$var-prefix}card-padding-y)
        var(--#{$var-prefix}card-padding-x);
}
%card-body-xs {
    @include card-body-size($card-body-padding-y-xs, $card-body-padding-x-xs);
}

%card-p-none {
    padding: 0;
}
%card-heading {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

%card-title {
    color: var(--#{$var-prefix}card-color);
    @include line-clamp(3);
}

%card-desc {
    @include line-clamp(2);
    color: var(--#{$var-prefix}card-color);
}

%card-text {
    color: var(--#{$var-prefix}card-color);
}

%card-link {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
%card-5 {
    flex: 20%;
}
%card-4 {
    flex: 25%;
}
%card-xs {
    @include card-size(
        $card-padding-y-xs,
        $card-padding-x-xs,
        $card-font-size-xs,
        $card-line-height-xs,
        $card-font-weight,
        $card-border-radius
    );
}

%card-sm {
    @include card-size(
        $card-padding-y-sm,
        $card-padding-x-sm,
        $card-font-size-sm,
        $card-line-height-sm,
        $card-font-weight,
        $card-border-radius
    );
    &:hover {
        background-color: var(--#{$var-prefix}white);
        box-shadow: var(--#{$var-prefix}card-box-shadow);
    }
}

%card-lg {
    @include card-size(
        $card-padding-y-lg,
        $card-padding-x-lg,
        $card-font-size-lg,
        $card-line-height-lg,
        $card-font-weight,
        $card-border-radius
    );
}

%card-xl {
    @include card-size(
        $card-padding-y-xl,
        $card-padding-x-xl,
        $card-font-size-xl,
        $card-line-height-xl,
        $card-font-weight,
        $card-border-radius
    );
}

%card-xxl {
    @include card-size(
        $card-padding-y-xxl,
        $card-padding-x-xxl,
        $card-font-size-xxl,
        $card-line-height-xxl,
        $card-font-weight,
        $card-border-radius
    );
}

//===== Card Class ===================================
.#{$class-prefix}card {
    @extend %card;
}
.#{$class-prefix}card-horizontal {
    @extend %card-horizontal;
}
.#{$class-prefix}card-row-reverse {
    @extend %card-row-reverse;
}
.#{$class-prefix}card-p-none {
    @extend %card-p-none;
}
.#{$class-prefix}card-4 {
    @extend %card-4;
}
.#{$class-prefix}card-5 {
    @extend %card-5;
}
.#{$class-prefix}card-img {
    @extend %card-img;
}
.#{$class-prefix}card-body {
    @extend %card-body;
}
//===== Card size ===================================
.#{$class-prefix}card-xs {
    @extend %card-xs;
}

.#{$class-prefix}card-sm {
    @extend %card-sm;
}

.#{$class-prefix}card-lg {
    @extend %card-lg;
}

.#{$class-prefix}card-xl {
    @extend %card-xl;
}

.#{$class-prefix}card-xxl {
    @extend %card-xxl;
}

.#{$class-prefix}card-body-xs {
    @extend %card-body-xs;
}
.#{$class-prefix}card-heading {
    @extend %card-heading;
}
.#{$class-prefix}card-title {
    @extend %card-title;
}

.#{$class-prefix}card-desc {
    @extend %card-desc;
}

.#{$class-prefix}card-text {
    @extend %card-text;
}

.#{$class-prefix}card-link {
    @extend %card-link;
}
//----- card color -----------------------------------

@each $color, $value in $theme-colors {
    %card-#{$color},
    .#{$class-prefix}card-#{$color} {
        @include card-variant($color);
        @if $color == "gray" {
            --#{$var-prefix}card-bg: var(--#{$var-prefix}gray-300);
        }
    }

    %card-outline-#{$color},
    .#{$class-prefix}card-outline-#{$color} {
        @include card-outline-variant($color);
        @if $color == "gray" {
            --#{$var-prefix}card-border-color: var(--#{$var-prefix}gray-200);
        }
    }

    %card-ghost-#{$color},
    .#{$class-prefix}card-ghost-#{$color} {
        @include card-ghost-variant($color);
    }

    %card-light-#{$color},
    .#{$class-prefix}card-light-#{$color} {
        @include card-light-variant($color);
    }
    %card-img-light-#{$color},
    .#{$class-prefix}card-img-light-#{$color} {
        @include card-img-light-variant($color);
    }
}
